<p id="notice"><%= notice %></p>
<%# <script type= "text/javascript" src="https://code.jquery.com/jquery-3.4.1min.js"></script> %>
<script type="text/javascript">
let samp = document.getElementsByClassName("current-month");
 samp.forEach( function( value ) {

    console.log( value );
});
</script>
<h1>Meetings</h1>

<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>




