<<<<<<< Updated upstream
<h1>Calendars#show</h1>
<p>Find me in app/views/calendars/show.html.erb</p>
=======
<p id="notice"><%= notice %></p>
<h1>Meetings</h1>
​
<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>
​
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript">
$('.current-month').each(function(index, value) {
  if (index % 2 == 0) {
    $(this).css('background-color', 'red');
  }
  else
  {
    $(this).css('background-color', 'blue');
  }
});
</script>
​


>>>>>>> Stashed changes
