// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #F1F3CE;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #00293C;
}

a{
  text-decoration: none;
}


.simple-calendar {
  .day {
  background-color: #F1F3CE; 
  }
  
  .has-events {
    background-color: #249ed6;
  }
}